@{
    //hoe werken Request.UrlRefferer.AbsolutePath en Request.Url.AbsolutePath?
    if(IsPost && Request.UrlReferrer.AbsolutePath == Request.Url.AbsolutePath)
        {
            Response.Write("hello");
        }
    else {
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
